.footer__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

@media screen and (max-width: 750px) {
  .footer__list {
    min-height: 250px;
    justify-content: space-between;
    flex-direction: column;
  }
}